.jimgMenu {
	position: relative;
	width: 650px;
	height: 200px;
	overflow: hidden;
	margin: 0px;
	float: left;
	padding-right: 125px;
	padding-left: 100px;
}

.jimgMenu ul {
	list-style: none;
	margin: 0px;
	display: block;
	height: 200px;
	width: 1340px;
	
	}

.jimgMenu ul li {
	float: left;
}

.jimgMenu ul li a {
	text-indent: -1000px;
	background:#FFFFFF none repeat scroll 0%;
	border-right: 2px solid #fff;
	cursor:pointer;
	display:block;
	overflow:hidden;
	width:35px;
	height: 200px;
}

.jimgMenu ul li.rock a {
	background: url(images/m_images/a_rock.jpg) repeat scroll 0%;
}
.jimgMenu ul li.ballads a {
	background: url(images/m_images/b_ballads.jpg) repeat scroll 0%;
}
.jimgMenu ul li.blues a {
	background: url(images/m_images/c_blues.jpg) repeat scroll 0%;
}
.jimgMenu ul li.jazz a {
	background: url(images/m_images/d_jazz.jpg) repeat scroll 0%;
}

.jimgMenu ul li.menina a {
	background: url(images/m_images/e_menina.jpg) repeat scroll 0%;
}
.jimgMenu ul li.latinos a {
	background: url(images/m_images/f_latin.jpg) repeat scroll 0%;
}
.jimgMenu ul li.love a {
	background: url(images/m_images/g_love.jpg) repeat scroll 0%;
}
.jimgMenu ul li.inter a {
	background: url(images/m_images/h_inter.jpg) repeat scroll 0%;
}


.jimgMenu ul li.disco a {
	background: url(images/m_images/i_disco.jpg) repeat scroll 0%;
}
.jimgMenu ul li.tango a {
	background: url(images/m_images/j_tango.jpg) repeat scroll 0%;
}
.jimgMenu ul li.instrumental a {
	background: url(images/m_images/k_instru.jpg) repeat scroll 0%;
}
.jimgMenu ul li.contacto a {
	background: url(images/m_images/l_conta.jpg) repeat scroll 0%;
}
.jimgMenu ul li.menu a {
	background: url(images/m_images/m_menu.jpg) repeat scroll 0%;
	min-width:200px;
	
}

.clear {
	clear: both;
}
